<% content_for :meta_title, 'My Profile' %>
<% content_for :meta_description, "My profile administration section for the logged in user" %>

<%= render 'tab_menu' %>

<div id="profile-title">
  <% if @profile.other_name.present? %>
    <h1>
      <%= @profile.other_name %><br />
      <span class="secondary-name"><%= @profile.name %></span>
    </h1>
  <% else %>
    <h1><%= @profile.name %></h1>
  <% end %>
  <% if @profile.portrait.present? %>
    <p id="profile-portrait"><%= image_tag @profile.portrait_url(:small), title: @profile.name, alt: @profile.name, id: 'profile-portrait' %></p>
  <% end %>
</div>

<table id="profile-attributes">
  <tbody>

    <tr><td class="section" colspan="2"><span class="label label-danger">private information</span></td></tr>
    <tr><td class="key"><span class="glyphicon glyphicon-envelope"></span> email address</td><td class="value"><%= @profile.email %></td></tr>
    <tr><td class="key">get rare newsletter</td>
      <td class="value"><%= @profile.allow_newsletter == true ? "<span class=\"glyphicon glyphicon-ok\"".html_safe : "<span class=\"glyphicon glyphicon-remove\"".html_safe %></td>
    </tr>
    <tr>
      <td class="key">get your daily activity digests</td>
      <td class="value"><%= @profile.allow_daily_digests == true ?  "<span class=\"glyphicon glyphicon-ok\"".html_safe : "<span class=\"glyphicon glyphicon-remove\"".html_safe %></td>
    </tr>
    <%= render 'custom_private_profile_attributes' %>

    <tr><td class="section" colspan="2"><span class="label label-success">public information</span></td></tr>
    <tr><td class="key">first name</td><td class="value"><%= @profile.first_name %></td></tr>
    <tr><td class="key">last name</td><td class="value"><%= @profile.last_name %></td></tr>
    <tr><td class="key"><%= render 'shared/other_name_label' %></td><td class="value"><%= @profile.other_name %></td></tr>
    <tr><td class="key">website</td><td class="value"><%= link_to "#{URI(student.website_url).host}#{URI(student.website_url).path}#{URI(student.website_url).query}#{URI(student.website_url).fragment}", student.website_url, rel: 'nofollow' unless student.website_url.nil? %></td></tr>
    <tr><td class="key">facebook</td><td class="value"><%= link_to "#{URI(student.facebook_url).host}#{URI(student.facebook_url).path}#{URI(student.facebook_url).query}#{URI(student.facebook_url).fragment}", student.facebook_url, rel: 'nofollow' unless student.facebook_url.nil? %></td></tr>
    <tr><td class="key">twitter</td><td class="value"><%= link_to student.twitter_handle, "https://twitter.com/#{student.twitter_handle}", rel: 'nofollow' unless student.twitter_handle.nil? %></td></tr>
    <tr><td class="key">google+</td><td class="value"><%= link_to "#{URI(student.google_plus_url).host}#{URI(student.google_plus_url).path}#{URI(student.google_plus_url).query}#{URI(student.google_plus_url).fragment}", student.google_plus_url, rel: 'nofollow' unless student.google_plus_url.nil? %></td></tr>
    <%= render 'custom_public_profile_attributes', member: student %>

  </tbody>
</table>

<p class="text-center"><%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span> change your info".html_safe, edit_profile_path, class: 'btn btn-sm btn-default' %></p>

<%= render'admin_context_menu' %>
