<p>Hi <%= @recipient.friendly_name %>,</p>

<p>This a summary of what happened yesterday on the <%= Setting.first.try(:site_name) %> website.</p>

<% unless @pending_comments.blank?  %>
  <h2><%= t 'comments.digest_intro' %></h2>
  <ul>
    <% @pending_comments.each do |comment| %>
      <li><%= "from #{comment.author.name}: #{truncate(strip_tags(comment.body), length: 50)}" %></li>
    <% end %>
  </ul>
  <p>You can see and manage these comments at: <%= link_to 'pending comments', pending_comments_url %>.</p>
<% end %>

<% unless @contact_messages.blank?  %>
  <h2>List of messages from the contact form:</h2>
  <ul>
    <% @contact_messages.each do |message| %>
      <li><%= "from #{message.sender_name} (#{message.sender_email}): #{truncate(strip_tags(message.body), length: 50)}" %></li>
    <% end %>
  </ul>
  <p>You can see and manage these messages at: <%= link_to 'contact messages', contacts_url %>.</p>
<% end %>

<% unless @yesterdays_activities.blank?  %>
  <h2>Activity feed:</h2>
  <ul>
    <% @yesterdays_activities.each do |activity| %>
      <li>
        <% unless activity.doer.blank? %>
          <%= "#{ link_to activity.doer.spiritual_name, member_url(id: activity.doer.id) } #{activity.message}".html_safe %>
        <% else # user has been deleted %>
          <%= "now deleted user #{activity.message}".html_safe %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <p>You can view <%= link_to 'the whole activity feed', activities_url %>.</p>
<% end %>

<p>You are receiving this email because you are an administrator of the <%= Setting.first.try(:site_name) %> website.</p>
