<h1><%= t('activerecord.models.users') %></h1>

<%= render 'details/tab_admin_menu' %>

<h1><%= @detail.name %></h1>

<p>Other name: <%= @detail.other_name %><br />
Email:  <%= @detail.email %><br />
Admin: <%= @detail.admin? %><br />
Teacher: <%= @detail.teacher_status %>
</p>
<%= link_to t('edit'), edit_detail_path(@detail), class: 'btn btn-default' %>

<%= render 'shared/admin_sidebar' %>
