<% content_for :meta_title, @member.name %>
<% content_for :meta_description, "Public profile for #{@member.name}" %>

<div id="profile-title">
  <% if @member.other_name.present? %>
    <h1>
      <%= @member.other_name %><br />
      <span class="secondary-name"><%= @member.name %></span>
    </h1>
  <% else %>
    <h1><%= @member.name %></h1>
  <% end %>
  <% if Profile.find(@member.id).portrait.present? %>
    <p id="profile-portrait"><%= image_tag Profile.find(@member.id).portrait_url(:small), title: @member.name, alt: @member.name, id: 'profile-portrait' %></p>
  <% end %>
</div>

<table id="profile-attributes">
  <tbody>
    <tr><td class="key">website</td><td class="value"><%= link_to abridged_url(@member.website_url), @member.website_url, rel: 'nofollow' %></td></tr>
    <tr><td class="key">facebook</td><td class="value"><%= link_to abridged_url(@member.facebook_url), @member.facebook_url, rel: 'nofollow' %></td></tr>
    <tr><td class="key">twitter</td><td class="value"><%= @member.twitter_handle.present? ? link_to( @member.twitter_handle, "https://twitter.com/#{@member.twitter_handle}", rel: 'nofollow' ) : '' %></td></tr>
    <tr><td class="key">google+</td><td class="value"><%= link_to abridged_url(@member.google_plus_url), @member.google_plus_url, rel: 'nofollow' %></td></tr>
    <%= render 'profiles/custom_public_profile_attributes', member: @member %>
  </tbody>
</table>

<%= render 'admin_context_menu', member: @member %>
<%# partial in tkh_menus gem or has to be added in host app %>
<%= render './shared/menus' %>
